* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


body::before {
    background-image: url("img/code.png");
    background-repeat: no-repeat;
    background-position: right;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.container {
    width: 1200px;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 24px;
    border: 1px solid #1875E8;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("img/Ruido.png");
    background-size: 100% 100%;
    position: relative;
}

.container__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.container__principal{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}

.container__imagem-robo{
    width: 250px;
    height: auto;
}

.container__informacoes {
    display: flex;
    justify-content: space-around;
    flex: 1;
    padding: 10px;
    align-items: center;

}

.container__titulo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.botoes {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-evenly;
}

.container__botao {
    border-radius: 16px;
    background: #1875E8;
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 16px;
}

.container__texto {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.container__texto-azul {
    color: #1875E8;
}

.btn {

    width: 200px;
    height: 80px;
    border-radius: 10px;
    background-color: #1875E8;
    border-style: none;
    font-size: 2rem;
    cursor: pointer;

}

.mensagem {
    color: white;
    font-size: 1.5rem;
}

h2,
p,
button .mensagem {
    font-family: 'Inter', sans-serif;
}

h2 {
    font-size: 32px;
    font-weight: 400;
}

.form-control {
    height: 5rem;
    width: 17rem;
    border-radius: 10px;
    background-color: #041832;
    color: white;
    border-style: none;
    font-size: 2rem;
    text-align: center;
}

@media (max-width: 780px) {

    
    h1{
        font-size: 2.5rem;
    }

    .container{
        width: auto;
        height: auto;
    }

    .container__principal{
        display: flex;

    }
    .container__informacoes{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .botoes{
        display: flex;
        flex-wrap: wrap;
    }

    .btn{
        width: 17rem;
    }
}

@media (max-width:450px) {

    .body{
        height: 390px;
    }
    .body::before{
        height: 390px;
    }
    .container {
        margin: 0;
        flex-wrap: wrap;
    }

    h1 {
        margin: 1rem;
        font-size: 1.5rem;

    }

    .container__principal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container__imagem-robo {
        width: 150px;
    }

    .container__titulo {
        font-size: 1rem;
    }

    .container__informacoes {
        width: 100vw;
    }

    .container__texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 2rem;
    }

    .mensagem {
        font-size: 1rem;
    }

    .botoes{
        display: flex;
        flex-direction: column;
    }

    .form-control {
        height: 2rem;
        width: 150px;
        font-size: 1rem;
    }

    .btn {
        height: 2rem;
        width: 150px;
        font-size: 1rem;

    }
}














